
/* Homepage css */

.home {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Remove the closing curly brace */
.banner {
    background-image: url(static/asssets/banner2.png);
    color: white;
    text-align: center;
    padding: 20px;
}
.banner h1 {
    font-size: 2.0em;
    font-weight: bold;
    margin: 0;
}
.banner span {
    color: white; /* Will experiment with different colours*/
}
.tools-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-grow: 1;
}
.tool {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.tool:hover {
    transform: scale(1.05);
}
.tool h2 {
    font-weight: bold;
    font-size: 1.6em;
    font-style: bold;
    margin-top: 0;
    color:#3498db;
}
.tool p {
    color: #504d4d;
}
.tool img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; /* Rounded corners at the top */
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
/* Responsive design */
@media (max-width: 600px) {
    .tools-container {
        flex-direction: column;
        align-items: center;
    }

    .tools-container {
        padding: 10px;
    }

    .tool {
        width: calc(100% - 20px);
        padding: 15px;
        margin: 10px 0;
    }

    .tool h2 {
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    .tool p {
        font-size: 0.9em;
        margin: 0;
    }

    .footer p {
        font-size: 0.8em;
    }
}
/* Scroll to Top Button Styles */
.scroll-to-top-btn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: none; /* Hidden by default */
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
    opacity: 0.8;
}

/* Hover effect */
.scroll-to-top-btn:hover {
    background-color: #2980b9;
    opacity: 1;
}

/* Show the button on mobile devices when needed */
@media (max-width: 600px) {
    .scroll-to-top-btn.show {
        display: block;
    }
}

/* End of Homepage css */
/* Home Button Styling */
.home-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

.home-button:hover {
    background-color: #2980b9;
}

/* revenue_growth styling */
/* Base styles */
.rev {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    color: #333;
}

.calculator-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.calculator-container h2 {
    text-align: center;
    font-weight: bold;
    color: #3498db;
    margin-top: 0;
}
/* Added display: flex to .inner-container */
.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

/* Input section styling */
.input-section {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.input-section h2 {
    margin-top: 0;
    color: #2c3e50;
}

.input-section label {
    font-weight: bold;
    margin-top: 15px;
}

.input-section input,
.input-section select,
.input-section button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-section button {
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.input-section button:hover {
    background-color: #2980b9;
}

/* Download button styling */
.download-button {
    margin-top: 10px;
    background-color: #2ecc71;
}

.download-button:hover {
    background-color: #27ae60;
}

/* Chart section styling */
.chart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#growthChart {
    width: 100%;
    max-width: 1000px;
    height: 600px;
}

/* Footer styling */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsive styling for larger screens */
@media (min-width: 768px) {
    .inner-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center; /* Centers content horizontally */
        gap: 20px;
    }
    .input-section {
        max-width: 400px;
        margin-right: 20px; /* Space between input and chart */
    }
    .chart-section {
        flex: 1;
    }
}

/* Responsive styling for smaller screens */
@media (max-width: 767px) {
    .calculator-container {
        padding: 10px;
    }
    .input-section button {
        font-size: 16px;
    }
    #growthChart {
        height: 400px;
    }
}

/* Input field adjustments for mobile */
@media (max-width: 480px) {
    .input-section label {
        font-size: 14px;
    }
    .input-section input,
    .input-section select,
    .input-section button {
        font-size: 14px;
        padding: 10px;
    }
    .input-section button {
        font-size: 16px;
    }
    #growthChart {
        height: 300px;
    }
}
/* End of revenue_growth styling */

/*business_valuation styling*/
.value {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    color: #333;
}

.value h2 {
    text-align: center;
    font-weight: bold;
    color: #3498db;
    margin-top: 0;
}

#widget-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#input-container, #chart-container {
    width: 100%;
    box-sizing: border-box;
}

#input-container {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
}

#input-container label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

#input-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#input-container button {
    margin-top: 20px;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
}

#input-container button:hover {
    background-color: #2980b9;
}

#download-button {
    background-color: #28a745;
    margin-left: 10px;
}

#download-button:hover {
    background-color: #218838;
}

#chart-container {
    margin-top: 40px;
    position: relative;
    height: 500px; /* Added height to ensure the chart displays */
}

#valuation-chart {
    width: 100% !important;
    height: 100% !important; /* Adjusted to fill the parent container */
}

#current-valuation {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

#valuation-amount {
    color: #007bff;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    #widget-container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    #widget-container {
        width: 70%;
    }
}
/* End of business_valuation styling */

/* compound_interest styling*/
 /* General Styles */
.compound{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
    color: #333;
}
h1, h2, h3 {
    margin: 10px 0;
    font-weight: normal;
}
/* Title */
.widget-title {
    text-align: center;
    color: #3498db;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
}
/* Widget Container */
.widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* Input and Output Sections */
.input-section, .output-section {
    width: 100%;
}
.input-section {
    margin-right: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
.input-section label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.input-section input,
.input-section select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-section button {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
    background-color:  #3498db;
    color: #fff;
    border: none;
    margin-right: 10px;
    border-radius: 4px;
}
.input-section button:hover {
    background-color: #2980b9;
}
/* Output Section */
.output-section {
    margin-top: 30px;
}
.output-values {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.output-values h3 {
    font-size: 1em;
    margin: 10px;
}
.output-values span {
    color: #007BFF;
    font-weight: bold;
}
/* Canvas Styling */
#balanceChart {
    max-height: 600px; /* Increased max height for larger graph */
}
/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
/* Responsive Design */
@media (min-width: 768px) {
    .input-section, .output-section {
        width: 100%;
    }
    .widget-container {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 992px) {
    .widget-container {
        flex-direction: column; /* Changed to stack vertically */
    }
    .input-section {
        width: 100%; /* Full width for input section */
        margin-right: 0;
    }
    .output-section {
        width: 100%; /* Full width for output section */
        margin-left: 0;
    }
}